.header__nav{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color:#445162 ;
}

.block__title{
    margin: 50px;
}

.title{
    font-family: Arial;
    font-size: 60px;
    line-height: 1.2;
    font-weight: 400;
    padding-bottom: 35px;
    color: #fff;
}

.item{
    font-family: Arial;
    font-size: 20px;
    line-height: 36px;
    font-weight: 400;
    cursor: default;
    color: #fff;
}

.item:hover{
    color: #ece89e;
}

.item::before{
    content: url(/img/check_icon_346.png);
    padding-right: 8px;
}

.img{
    max-width: 100%;
}

.block__img{
    margin: 50px;
}

/*  END FOOTER */

/* START MAIN */

/* контейнер 1 */
.containerOne{
    display: flex;
    flex-wrap: wrap;
}

.containerOne__img{
    max-width: 100%;
    height: 230px;
}

.section__img{
    margin: 50px 35px 50px 50px;
}

.containerOne__block{
    margin: 50px;
    max-width: 640px;
}

.container__title{
    font-family: Arial;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #445161;
}

.container__text{
    font-family: Arial;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #333333;
}

.p_text{
    padding-bottom: 40px;
    padding-top: 35px;
}

/* контейнер 2 */

.columns{
    padding: 50px;
    background-color: #f5f5f5;
}

.columns__title{
    text-align: center;
    margin-bottom: 30px;
}

.columns__row{
    display: flex;
    flex-wrap: wrap;
}

.columns__column{
    flex: 0 1 50%;
}

.item__row{
    display: flex;

    padding-bottom: 30px;
}

.item__div{
    flex: 0 0 200px;
}

.item__body{
    flex: 1 1 auto;
    padding-left: 15px;
}

.item__title{
    font-family: Arial;
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    color: #445161;    
}

.item__text{
    font-family: Arial;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #333333;    
}

.columns__title{
    font-family: Arial;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #445161;    
}



.containerThre__h2{
    font-family: Arial;
    text-align: center;
    margin-top: 50px;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #445161;    
}

.containerThre{
    padding-bottom: 50px;
}

.containerThre__columns{
    display: flex;
    justify-content: center;
    max-width: 990px;
    margin: 29px auto;

}

.containerThre__column{
    background-color:#445162 ;
    display: flex;
    flex-direction: column;
    margin-right: 35px;
    border-radius: 5px;
    flex: 0 1 50%;
}

.containerThre__text{
    font-family: Arial;
    text-align: center;
    padding: 15px 0 10px;
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;    
}

.containerThre__p{
    padding-bottom: 35px;
}

.containerThre__textTwo{
    text-align: center;
    font-family: Arial;
    padding: 18px 0;
    font-size: 40px;
    line-height: 30px;
    font-weight: 400;
    margin: 0 2PX;
    background-color: #fff;
    color: #445162;    
}

.containerThre__textThre{
    font-family: Arial;
    padding: 18px ;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    flex: 1 1 auto;
    color: #ffffff;    
}

.containerThre__button{
    font-family: Arial;
    text-align: center;
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    background-color: #fff; 
    border-radius: 5px;  
    margin: 0 18px;
    padding: 10px 0;
    margin-bottom: 18px;
}

.container__a{
color: #495665;

}


.footer{
    padding: 30px 0 25px ;
    text-align: center;
    background-color: #f5f5f5;
}

.footer__p{
    font-family: Arial;
    font-size: 12px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #445162;    
}